<section id="project" class="wrap">
	
	<!-- {{projectID}} -->

	<!-- Header -->
	<div id="header">
		<small>{{project.type}}</small>
		<h2>{{project.title}}</h2>
		<a href="{{project.url}}" class="button" target="_blank">View <strong>Live</strong></a>
	</div>

	<!-- Content -->
	<div id="content">
		<p id="description" ng-class="{'fullWidth': !project.imgMobile[0]}">{{project.description}}</p>
		<div id="mobile-images" ng-show="project.imgMobile[0]">
			<a ng-show="project.video" href="{{project.video}}" class="button" target="_blank">Watch <strong>Video</strong></a>
			<img ng-repeat="image in project.imgMobile" src="{{image.path}}">
		</div>
		<div id="desktop-images" ng-class="{'fullWidth': !project.imgMobile[0]}">
			<img ng-repeat="image in project.imgDesktop" src="{{image.path}}">
		</div>
	</div>

</section>